* {
	box-sizing: border-box;
}

body {
	background-color: azure;
	font-family: 'Lato', sans-serif;
}

#page-wrapper {
	margin: 2px;
	/*width: 1000px;*/
	display: flex;
}

.form-group {
	padding: 1em;
}

.items {
	padding: 1em;
}

.text {
	width: 200px;
	padding: 5px;
}

.title {
	padding: 4px;
	text-align: center;
}

#albums img {
	width: 200px;
}

#albums {
	text-align: center;
	font-size: 1em;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

@media only screen and (max-width: 768px) {
	#page-wrapper {
		flex-direction: column;
	}

	.filter-wrapper {
		text-align: center;
		padding-bottom: 1em;
	}

	.form-group {
		display: inline;
	}
}
