.filter-wrapper {
	display: flex;
	margin: 15px 0;
}

#results-table {
	width: 100%;
}

#results-table tr {
	display: block;
}

#results-table td, #results-table th {
	padding: 5px;
}

#results-table img {
	width: 200px;
}
